@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  @apply bg-white dark:bg-[#030329];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-1 {
  @apply border border-[#7D1CBF] rounded-3xl px-8 py-3 font-bold uppercase text-sm bg-[#7D1CBF]/90 text-white shadow-md hover:bg-white hover:text-[#7D1CBF] transition-colors duration-300 ease-out;
}

.btn-2 {
  @apply border border-[#7D1CBF] rounded-xl w-full py-3 font-bold uppercase text-sm bg-[#7D1CBF]/0 text-[#7D1CBF] shadow-md hover:bg-[#7D1CBF] hover:text-white transition-colors duration-300 ease-out dark:border-white dark:text-white;
}

.btn-2-disabled {
  @apply border border-[#7D1CBF]/30 w-full rounded-xl py-3 font-bold uppercase text-sm bg-[#7D1CBF]/0 text-[#7D1CBF]/30 shadow-md cursor-not-allowed dark:border-gray-400 dark:text-gray-400;
}

.btn-3 {
  @apply border border-[#7D1CBF] rounded-3xl px-8 py-3 font-bold uppercase text-sm bg-[#7D1CBF]/0 text-[#7D1CBF] shadow-md hover:bg-[#7D1CBF] hover:text-white transition-colors duration-300 ease-out dark:border-white dark:text-white;
}

.btn-4 {
  @apply border border-[#7D1CBF] rounded-xl px-3 py-1 my-4 font-bold uppercase text-sm bg-[#7D1CBF]/0 text-[#7D1CBF] shadow-md hover:bg-[#7D1CBF]/90 hover:text-white transition-colors duration-300 ease-out;
}

.btn-5 {
  @apply border border-[#7D1CBF] rounded-full py-2 px-3 font-bold uppercase text-2xl bg-[#7D1CBF]/90 text-white shadow-md hover:bg-white hover:text-[#7D1CBF] transition-colors duration-300 ease-out;
}

input,
textarea {
  min-width: 300px;
  border: 1px solid black;
  @apply drop-shadow-md dark:bg-white dark:text-black;
}

/*
Generic Gradient
primary: #7D1CBF
secondary: #DD0099
thirdary: #FF3870
quartery: #FF814F
fifth: #FFC049
sixth: #F9F871
*/

/*
Matching Gradient
primary: #7D1CBF
secondary: #005CF0
thirdary: #007FFF
quartery: #0098F5
fifth: #00ABD2
sixth: #00BAA3
*/

/* 
Neighbour Pallette
primary: #7D1CBF
secondary: #3B627D
thirdary: #5597C3
quartery: #B7C9D8
*/
